.imageContainer{
    position: absolute;
    width: 150px; /*the image width*/
    height: 150px; /*the image height*/
    left: 50%;
    top: 50%;
    margin-left: -75px; /*half the image width*/
    margin-top: -75px; /*half the image height*/
}
