.imageContainer{
    position: absolute;
    width: 300px; /*the image width*/
    height: 300px; /*the image height*/
    left: 50%;
    top: 50%;
    margin-left: -150px; /*half the image width*/
    margin-top: -150px; /*half the image height*/
}

.container {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}