{% extends "layout.html.twig" %}

{% block content %}
    <div class="container-fluid">
        <div class="row mt-1">
            <div class="col text-right mt-1">
                <a href="/upload_transport">Додати зображення транспорту</a>
            </div>
        </div>
        <div class="row mt-1">
            <div class="col text-right">
                <a href="/upload_stop">Додати зображення зупинки</a>
            </div>
        </div>
    </div>

    <div class="imageContainer">
        <img src="/images/bus115.png" alt="Bus115 Logo">
    </div>
    <div class="container_center">
        <h1 class="text-center">Чат-бот розкладу громадського транспорту Києва</h1>
    </div>
{% endblock %}

{% block facebook %}
    <!-- Load Facebook SDK for JavaScript -->
    <div id="fb-root"></div>
    <script>(function(d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = 'https://connect.facebook.net/ru_RU/sdk/xfbml.customerchat.js#xfbml=1&version=v2.12&autoLogAppEvents=1';
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));</script>

    <!-- Your customer chat code -->
    <div class="fb-customerchat"
         attribution=setup_tool
         page_id="1356611957804036"
         logged_in_greeting="Розклад транспорту Києва."
         logged_out_greeting="Розклад транспорту Києва.">
    </div>
{% endblock %}
