{% extends "layout.html.twig" %}

{% block content %}
    {% include 'nav.html.twig' %}
    <div class="container h-100">
        <div class="row align-items-center h-100">
            <div class="col-12 mx-auto">
                <img class="mx-auto d-block" src="/images/bus115.png" alt="Чат-бот транспорту Києва" title="Чат-бот транспорту Києва">
                <h1 class="text-center">Чат-бот транспорту Києва</h1>
            </div>
            <!-- Telegram widget -->
            <div class="fixed-bottom">
                <script async src="https://telegram.org/js/telegram-widget.js?5" data-telegram-post="bus115/2" data-width="100%"></script>
            </div>
        </div>
    </div>

{% endblock %}

{% block facebook %}
    <!-- Load Facebook SDK for JavaScript -->
    <div id="fb-root"></div>
    <script>(function(d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = 'https://connect.facebook.net/ru_RU/sdk/xfbml.customerchat.js#xfbml=1&version=v2.12&autoLogAppEvents=1';
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));</script>

    <!-- Your customer chat code -->
    <div class="fb-customerchat"
         attribution=setup_tool
         page_id="1356611957804036"
         logged_in_greeting="Розклад транспорту Києва."
         logged_out_greeting="Розклад транспорту Києва.">
    </div>
{% endblock %}
