{% extends "layout.html.twig" %}

{% block content %}
    <div class="imageContainer">
        <img src="/images/bus115.png" alt="Bus115 Logo">
    </div>
    <div class="container">
        <h1 class="text-center">Розклад Громадського транспорту Києва</h1>
    </div>
{% endblock %}
