{% extends "layout.html.twig" %}

{% block content %}
    {% include 'nav.html.twig' %}
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-12">
                <div class="content">
                    <h1>Bus115</h1>
                    <p>Terms and conditions of Bus115</p>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="content">
                    <h1>Terms and conditions</h1>

                    <p>These terms and conditions ("Terms", "Agreement") are an agreement between Website Operator ("Website Operator", "us", "we" or "our") and you ("User", "you" or "your"). This Agreement sets forth the general terms and conditions of your use of the <a target="_blank" rel="nofollow" href="https://bus115.kiev.ua">bus115.kiev.ua</a> website and any of its products or services (collectively, "Website" or "Services").</p>

                    <h2>Backups</h2>

                    <p>We are not responsible for Content residing on the Website. In no event shall we be held liable for any loss of any Content. It is your sole responsibility to maintain appropriate backup of your Content. Notwithstanding the foregoing, on some occasions and in certain circumstances, with absolutely no obligation, we may be able to restore some or all of your data that has been deleted as of a certain date and time when we may have backed up data for our own purposes. We make no guarantee that the data you need will be available.</p>

                    <h2>Intellectual property rights</h2>

                    <p>This Agreement does not transfer to you any intellectual property owned by Website Operator or third-parties, and all rights, titles, and interests in and to such property will remain (as between the parties) solely with Website Operator. All trademarks, service marks, graphics and logos used in connection with our Website or Services, are trademarks or registered trademarks of Website Operator or Website Operator licensors. Other trademarks, service marks, graphics and logos used in connection with our Website or Services may be the trademarks of other third-parties. Your use of our Website and Services grants you no right or license to reproduce or otherwise use any Website Operator or third-party trademarks.</p>

                    <h2>Changes and amendments</h2>

                    <p>We reserve the right to modify this Agreement or its policies relating to the Website or Services at any time, effective upon posting of an updated version of this Agreement on the Website. When we do we will revise the updated date at the bottom of this page. Continued use of the Website after any such changes shall constitute your consent to such changes. Policy was created with <a style="color:#222" target="_blank" title="Create terms and conditions" href="https://www.websitepolicies.com/terms-and-conditions-generator">WebsitePolicies.com</a></p>

                    <h2>Acceptance of these terms</h2>

                    <p>You acknowledge that you have read this Agreement and agree to all its terms and conditions. By using the Website or its Services you agree to be bound by this Agreement. If you do not agree to abide by the terms of this Agreement, you are not authorized to use or access the Website and its Services.</p>

                    <h2>Contacting us</h2>

                    <p>If you have any questions about this Agreement, please contact us.</p>

                    <p>This document was last updated on October 24, 2018</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block facebook %}
{% endblock %}
